/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2016, 6:12:01 PM
    Author     : Farid
*/
body{
    padding: 0;
    margin: 0;    
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: #444;
    padding: 0;
    margin: 0;
}
p{
    font-size: 14px;
    color: #444;
    text-align: left;
}
#window{
    width: 100%;
    padding: 0;
    margin: 0;
}
#wrapper{
    width: 100%;
    height: auto;
}
#north .logo .glyphicon {
    color: #fcaf50;
    font-size: 26px;
    padding-left: 38px;
    padding-top: 9px;
}
#north{
    width: 100%;
    height: auto;
    box-shadow: 10px 1px 5px #111111;
}
#north .north_navigationbar{
    width: 100%;
    height: 43px;
    background-color: #444;
    position: fixed;
    top: 0;
}
#north .logo{
    width: 10%;
    float: left;
    color: #fff;
}
#north .menubar{
    width: 90%;
    float: right;
}
#north .nav1 {
    list-style-type: none;
    padding-top: 10px;
}
#north .nav1 li {
    color: #b1b1b1;
    display: inline;
    padding: 10px;
}
#north .nav1 li:hover {
    color: #fff;
    display: inline;
    padding: 10px;
}
#north .nav1 li a {
    color: #afafaf;
    display: inline;
    font-weight: bold;
}
#north .nav1 li a:hover,active,focus {
    color: #d9edf7;
    text-decoration: none;
}
#north .north_user {
    background-color: #999;
    color: #575757;
    height: 30px;
    margin-top: 43px;
    padding-right: 50px;


    padding-top: 3px;
}
#north .username{
    float: right;
    text-align: right;
}
#north .dashboard {    
    float: left;
    padding-left: 33px;
    text-align: left;
    width: 50%;

}
#north .dashboard, p {
    color: #afafaf;
    font-weight: bold;

}
#north .dashboard .glyphicon {
    color: #dfdfdf;
    padding-right: 5px;
}

#north.north_navigationbar{
    width: 100
}
#center {
  background-image: url("../images/body-bg-02.jpg");
  height: 1024px;
  margin: auto;
  width: 100%;
}
#south {
    background-color: #444;
    bottom: 0;
    color: #fff;
    height: 56px;
    position: fixed;
    width: 100%;
}

#south .copyright p {
    color: #7a7a69;
    float: left;
    font-size: 13px;
    padding-top: 16px;
    text-align: right;
    width: 50%;
}
#south .logout{
    width: 50%;
    float: right;
}
#south .logout .glyphicon {
    float: right;
    font-size: 26px;
    padding: 14px;
}

